<div class="channel_area">
    <div id="channelPCPoker" class="channel_box">
        <!-- <a
           (click)="clickPanel($event)"
           class="def"
           style="left: 0px; width: 153px;"
           data-gamename="baduk"
           data-gamecode="6" data-gametype="poker">
            <div class="channel" style="width: 157px; height: 157px;">
                <span style="opacity: 1;" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span style="opacity: 0" class="on_bg"><img src="/assets/images/games/on_light_bg_6.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/baduk.png" alt="바둑이"></span>
            </div>
        </a> -->
        <a
           (click)="clickPanel($event)"
           class="def ready"
           style="left: 0px; width: 153px;"
           data-gamename=""
           data-gamecode="6"
           data-gametype="baduk">
            <div class="channel" style="width: 157px; height: 157px;">
                <span style="opacity: 1;" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/soon.png" alt="Comming"></span>
            </div>
        </a>
        <a
           (click)="clickPanel($event)"
           class="def"
           style="left: 158px; width: 153px;"
           data-gamename="stop"
           data-gamecode="54"
           data-gametype="poker">
            <div class="channel" style="width: 157px; height: 157px;">
                <span style="opacity: 1;" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span style="opacity: 0" class="on_bg"><img src="/assets/images/games/on_light_bg_5.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/stop.png" alt="섯다"></span>
            </div>
        </a>
        <a
           (click)="clickPanel($event)"
           class="def"
           style="left: 315px; width: 153px;"
           data-gamename="holdem"
           data-gamecode="36"
           data-gametype="poker">
            <div class="channel" style="width: 157px; height: 157px;">
                <span style="opacity: 1" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span style="opacity: 0" class="on_bg"><img src="/assets/images/games/on_light_bg_1.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/holdem.png" alt="홀덤"></span>
            </div>
        </a>
        <a
           (click)="clickPanel($event)"
           class="active"
           style="left: 483px; width: 230px;" data-gamename="hyrou"
           data-gamecode="33"
           data-gametype="poker">
            <div class="channel" style="width: 247px; height: 247px;">
                <span style="opacity: 0;" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span style="opacity: 1;" class="on_bg"><img src="/assets/images/games/on_light_bg_2.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/hyrou.png" alt="하이로우" class="active"></span>
            </div>
        </a>
        <a
           (click)="clickPanel($event)"
           class="def"
           style="left: 725px; width: 153px;"
           data-gamename="7poker"
           data-gamecode="0" data-gametype="poker">
            <div class="channel" style="width: 157px; height: 157px;">
                <span style="opacity: 1" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span style="opacity: 0" class="on_bg"><img src="/assets/images/games/on_light_bg_3.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/7poker.png" alt="7포커"></span>
            </div>
        </a>
        <a
           (click)="clickPanel($event)"
           class="def" style="left: 882px; width: 153px;"
           data-gamename="hola"
           data-gamecode="61"
           data-gametype="poker">
            <div class="channel"
                 style="width: 157px; height: 157px;">
                <span style="opacity: 1;" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span style="opacity: 0" class="on_bg"><img src="/assets/images/games/on_light_bg_4.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/hola.png" alt="홀라"></span>
            </div>
        </a>
        <a
           (click)="clickPanel($event)"
           class="def ready" style="left: 1039px; width: 153px;"
           data-gamename=""
           data-gamecode="42"
           data-gametype="poker">
            <div class="channel" style="width: 157px; height: 157px;">
                <span style="opacity: 1;" class="off_cover"><img src="/assets/images/games/off_cover.png" alt=""></span>
                <span class="chip"><img src="/assets/images/games/soon.png" alt="Comming"></span>
            </div>
        </a>
    </div>
</div>
